button {
  border: double;
  background-color: rgb(66, 193, 197);
  padding: 7px 14px;
  color: rgb(75, 74, 74);
  cursor: pointer;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(75, 74, 74);
  background-color: #ddd;
  margin: 0;
  font-size: 16px;
  text-align: center;
}
h2 {
  font-size: 34px;
  color: rgb(245, 59, 59);
  text-transform: uppercase;
  text-align: center;
}
img {
  width: 300px;
  height: 180px;
}